<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息注册</title>
</head>
<body>
<h1>信息注册</h1>
<div style="margin: 10% 30%;color: #5e5e5f;background: #D4DFE6">
    <form action="/register/" method="post">

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        {% csrf_token %}
        <h3>欢迎注册</h3>

        <div>
            {{ register_form.userid.label_tag }}
            {{ register_form.userid }}
        </div>
        <div>
            {{ register_form.password.label_tag }}
            {{ register_form.password }}
        </div>
        <div>
            {{ register_form.password_confirm.label_tag }}
            {{ register_form.password_confirm }}
        </div>
        <div>
            {{ register_form.name.label_tag }}
            {{ register_form.name }}
        </div>
        <div>
            {{ register_form.email.label_tag }}
            {{ register_form.email }}
        </div>
        <br>

        <div>
            <a href="/login/">
                <ins>直接登录</ins>
            </a>
            &emsp;
            <button type="submit">注册</button>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>